{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/ico.png" type="image/png">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/css/screen.css' %}" />

	<link rel="stylesheet" href="{% static '/css/MarkerCluster.css' %}" />
	<link rel="stylesheet" href="{% static '/css/MarkerCluster.Default.css' %}" />
    <script src="{% static '/css/leaflet.markercluster-src.js' %}"></script>
    <script src="{% static '/css/leaflet-heat.js' %}"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <link rel="stylesheet" href="https://unpkg.com/react-leaflet-markercluster/dist/styles.min.css" />

    <title>ГазпромБанк</title>
</head>
<body>
<div id="root"></div>
</body>
<script src="{% static 'frontend/main.js' %}"></script>
</html>